@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}